* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #693029;
}

img {
    float: right;
    height: 500px;
    width: 500px;
}

.header {
    padding: 20px;
    font-family: 'Roboto Slab', serif;
    background-color: #C38B68;
    color: #6A264B;
    border-bottom: 20px;
    border-color: black;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #6A264B;
    text-decoration: none;
}

p {
    color: #C38B68;
    font-size: 16px;
}

.hero {
    height: 50px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


.intro {
    flex: 4;
    background-color: #693029;
    padding: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.intro p {
    color: #C38B68;
    font-family: 'Roboto Slab', serif;
    font-size: xx-large;
    float: left;
    align-self: center;
    align-content: center;
}

aside {
    flex: 1;
    color: #6A264B;
    background-color: #C38B68;
    padding: 40px;
    border-bottom: 10px;
    border-color: black;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: large
}

.about-me p{
    flex: 4;
    background-color: #693029;
    font-family: 'Roboto Slab', serif;
    font-size: x-large;
    padding: 150px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.res-link {
  color: #C38B68;
  font-family: 'Roboto Slab', serif;
  font-size: x-large;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.res-link:hover {
    text-decoration: underline;
}

.projects {
    flex: 2;
    background-color: #693029;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }  

  .card {
    width: 300px;
    height: 300px;
    color: #6A264B;
    background-color: #C38B68;
    font-family:'Roboto Slab', serif;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 33.333%;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.671);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.671);
}

.card header {
    color: #C38B68;
    background-color: #6A264B;
    border-radius: 50px 50px 0px 0px;
    padding: 20px;
    text-align: center;
    text-decoration: underline;
}

.card p {
    color: #6A264B;
    font-size: small;
    text-align: center;
    padding-bottom: 2px;
}

.card ul {
    list-style-type: none;
}

.card a:hover{
    text-decoration: underline;
}

.card img {
    border-radius: 50px;
    padding: 5px;
    padding-bottom: 15px;
    margin-right: 90px;
    width: 60%;
    height: 40%;
}

.contacts {
    background-color: #693029;
    color: #C38B68;
    padding: 100px;
    justify-content: center;
    align-content: center;
}

.contacts p {
    color: #C38B68;
    font-family: 'Roboto Slab', serif;
    font-size: x-large;
    text-align: center;
}

.contacts a {
    color: #C38B68;
    font-family: 'Roboto Slab', serif;
    font-size: x-large;
    text-align: center;
}

.contacts a:hover {
    text-decoration: underline;
}

.contact-link {
    color: #C38B68;
    font-family: 'Roboto Slab', serif;
    font-size: x-large;
    text-align: center;
}

.link {
    color: #6A264B;
    text-align: center;
    display: block;
    border-radius: 50px;
}

.linksul {
    display: table; 
    margin: 0 auto;
    text-align: left;
}

.footer {
    color: #6A264B;
    background-color: #C38B68;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h3 {
    font-size: 20px;
}

.footer p {
    color: #6A264B;
    font-family: 'Roboto Slab', serif;
}
