* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rebeccapurple;
    color: gold;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: gold;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height:50px
    width: 100%;
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

aside {
    flex: 1;
    color: gold;
    background-color: rebeccapurple;
    padding: 80px;
    text-align: center;
    font-size: large
}

.about-me {
    flex: 4;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.projects {
    flex: 4;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }

.contacts {
    flex: 4;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.card {
    color: gold;
    background-color: rebeccapurple;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    margin: 20px;
}

.bg-img {
    border-radius: 50px;
}

.card header {
    border-radius: 50px 50px 0px 0px;
    padding: 20px;
    text-align: center;
}
  
.card p {
    text-align: center;
}

.link {
    color: gold;
    text-align: center;
    display: block;
    border-radius: 50px;
}

.footer {
    color: gold;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
